.box__wrapper{
    padding-top: 80px; 
    padding-left: 30px; 
    padding-right: 30px;
    background-color: #efefef;
}

.box__route{
    font-size: 15px; 
    font-weight: 400; 
    color: rgb(117, 117, 117); 
    padding-bottom: 15px; 
}

.table__wrapper{
    padding: 10px;
    background-color: white;
}


.table__wrapper h2{
    font-size: 24px; 
    font-weight: 500; 
    margin-bottom: 20px;
}

.line-bottom{
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}